---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-data
  namespace: n8n
  labels:
    app: n8n
spec:
  accessModes: [ "ReadWriteMany" ]
  storageClassName: longhorn  # ajusta si usas otra SC
  resources:
    requests:
      storage: 5Gi
